#full-page {
  font-family: 'Playfair Display', serif;
}

#displayCountRecipes {
  position: relative;
  color: #f0ad4e;
  font-weight: 600;
  font-size: 6.2rem;
  margin: 0 20px 0 0;
  bottom: 1rem;
}
#displayCountText {
  font-size: 1.2rem;
  font-style: italic;
  width: 7rem;
}
#displayTitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
#displayCuisine {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
}
#displayCountMissingIngredients {
  color: #f0ad4e;
  font-size: 4rem;
  font-weight: 600;
  margin: -10px 0;
}
#displayTitleMissingIngredients {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
#displayTitleMyIngredients {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
.card-text {
  font-style: italic;
  margin: 0;
}
